*{
    margin:0px;
    padding:0px;
}

body {
    background: #ccc;
}

.video-box1 {
    widows: 100px;
    margin:100px auto;
}

.video-box1 img{
    width:200px;
    height:200px;
}

.video-box1 .play-btn1  img{
    color:#6495ED;
    font-size: 50px;
    width:100px;
    height:100px;
    margin:auto;
    border-radius:50%;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    margin:auto;
    text-align:center;
    border-radius:50%;
}
.video-box1 .play-btn1:before, .video-box1 .play-btn1:after {
    content:"";
    position:absolute;
    
    border-radius:50%;
    left:20px;
    right:-20px;
    top:-20px;
    bottom:-20px;
    animation:animate 1.s linear infinite;

}

.video-box2 {
    widows: 100px;
    margin:100px auto;
}

.video-box2 img{
    width:200px;
    height:200px;
}

.video-box2 .play-btn2  img{
    color:#6495ED;
    font-size: 50px;
    width:100px;
    height:100px;
    margin:auto;
    border-radius:50%;
    position:absolute;
    left:40px;
    right:20px;
    bottom:0px;
    margin:auto;
    text-align:center;
    border-radius:50%;
}

.video-box3 {
    widows: 100px;
    margin:100px auto;
}

.video-box3 img{
    width:200px;
    height:200px;
}

.video-box3 .play-btn3  imga{
    color:#6495ED;
    font-size: 50px;
    width:100px;
    height:100px;
    margin:auto;
    border-radius:50%;
}